<!-- login start-->
<div class="login-view">
  <h1 class="title1">Coffee Base</h1>
  <h2 class="title2">コーヒー好きのためのストックアプリ</h2>
  <form class="login-view">
    <div class="visible-on-logout">
      <div class="container">
        <div class="row">
          <div class="col-sm-9">
            <form id="login-form">
              <div class="form-group">
                <label for="login-email" class="col-form-label">メールアドレス</label>
                <div>
                  <input type="email" id="login-email" class="form-control">
                </div>
                <label for="login-password" class="col-form-label">パスワード</label>
                <div>
                  <input type="password" id="login-password" class="form-control">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<!-- login end-->