<!-- sign up start-->
<div class="signup-view">
  <form class="signup-view">
    <div class="visible-on-logout">
      <div class="container">
        <div class="row">
          <div class="col-sm-9">
            <form id="signup-form">
              <div class="form-group">
                <label for="signup-email" class="col-form-label">登録するメールアドレス</label>
                <div>
                  <input type="email" id="signup-email" class="form-control">
                </div>
                <label for="signup-password" class="col-form-label">登録するパスワード</label>
                <div>
                  <input type="password" id="signup-password" class="form-control">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<!-- sign up end -->